/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'SF Pro Display', sans-serif;
  box-sizing: border-box;

  &:before,
  &:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body {
  margin: 0;
  background-color: var(--bg-primary);
}

#app {
  background-color: var(--bg-secondary-3);
  min-height: 100svh;
  width: 76.8rem;
  max-width: 100%;
  margin: 0 auto;
}